<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.guitarpark.app">
  <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="26" />


  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.CAMERA" />
  <uses-permission android:name="android.permission.WRITE_SETTINGS" />
  <uses-permission android:name="android.permission.RECORD_AUDIO" />

  <!--  小米辅助通道配置  -->
  <!--这里com.xiaomi.mipushdemo改成app的包名-->
  <permission android:name="com.guitarpark.app.permission.MIPUSH_RECEIVE" android:protectionLevel="signature" />
  <!--这里com.xiaomi.mipushdemo改成app的包名-->
  <uses-permission android:name="com.guitarpark.app.permission.MIPUSH_RECEIVE" />

  <application android:label="AliEMASTest.Android"  android:icon="@mipmap/icon">
    <!-- V3.0.9及以上版本需配置 -->
    <activity android:name="com.alibaba.sdk.android.push.keeplive.PushExtActivity" android:configChanges="keyboardHidden|orientation|screenSize|navigation|keyboard"
              android:excludeFromRecents="true" android:exported="false" android:finishOnTaskLaunch="false" android:launchMode="singleInstance"
              android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" android:process=":channel"></activity>

  </application>

</manifest>